#main {
  max-width: 600px;
  margin: 0 auto; 
}

#latex-input {
    font-family: monospace;
}

#errors {
    font-family: monospace;
    /* same color as KaTeX error color */
    color: #cc0000;
}

#latex-output {
    font-size: 2em;
}
